
.create-car-container {
    height: 100vh;
    background: #1F254F;
    background: linear-gradient(90deg,#1F254F, #17121C);
    /* color: #9360F7;s */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.create-car-section {
    /* border: solid #fff; */
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 40px;
}

.cc-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.add-car-one,.add-car-two, .add-car-three {
    display: flex;
    gap: 20px;
}




