.upload-image-container {
    /* border: solid yellow; */
    height: 600px;
    display: grid;
    grid-template-rows: 10% 90%;
}

.header-upload-container {
    position: relative;
}

.counter-upload  {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 600;
}

.counter-upload.full {
    color: red;
    animation: red-text 2s ease-in infinite;
}

@keyframes red-text {
    0%, 100% {
        text-shadow: none;
    }50% {
        /* text-shadow: 0 0 20px rgb(255, 43, 43); */
        transform: translateX(-50%) scale(1.2);
    }
}

.upload-image-container input {
    display: none;
}

.upload-image-container label {
    height: 40px;
    width: 200px;
    border: solid #fff;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(90deg, #D652A7,#7279F8);
    transition: .2s;
    margin: 0 auto ;
}

.upload-image-container label:hover {
    transform: translateY(-4px) translateX(-4px);
    box-shadow: 4px 4px 0 #fff;
}

.upload-image-container label:active {
    transform: scale(.9);
}

.images-preview {
    border: solid green;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap:  30px;
    border: dashed 5px #fff;
    border-radius: 10px;
    color: #fff;
}

.images-preview p {
    color: red;
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
    font-weight: 600;
}

